$color_1: rgb(255, 235, 193);
$color_2: rgb(133, 20, 20);
$color_3: rgb(250, 235, 193);
$color_4: antiquewhite;
$color_5: white;
$color_6: rgb(34, 33, 32);
$font-family_1: 'Manrope', sans-serif;
$background-color_1: rgb(36, 33, 33);
$background-color_2: rgb(133, 20, 20);