* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#fondo {
  background-image: linear-gradient(to right, black, rgb(73, 69, 69));
}

.shadow-lg {
  background-image: -webkit-linear-gradient(right, rgb(102, 16, 16), rgb(233, 45, 45));
  color: rgb(250, 235, 193);
  font-family: "Manrope", sans-serif;
}

.bg-light {
  background-image: -webkit-linear-gradient(right, rgb(102, 16, 16), rgb(233, 45, 45));
}

.nav-link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  transition: all 1s;
  transform: translate(0px, 0px);
  color: rgb(255, 235, 193);
  text-shadow: 1px 0 rgb(8, 8, 8);
}
.nav-link:hover {
  transform: translate(3px, 2px);
  color: rgb(133, 20, 20);
  text-shadow: 0 1px 0 rgb(8, 8, 8);
}

/* Footer */
.texto-footer {
  display: inline;
  text-align: left;
  padding-left: 20px;
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(36, 33, 33);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 150%;
  height: 40px;
  color: white;
}

.pie {
  display: inline-table;
  padding: 5px;
}

.imagenes-de-pie {
  border-radius: 7px;
}

/* animaciones */
@-webkit-keyframes mujer_balanza {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0, 3;
  }
  50% {
    opacity: 0, 5;
  }
  75% {
    opacity: 0, 7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mujer_balanza {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0, 3;
  }
  50% {
    opacity: 0, 5;
  }
  75% {
    opacity: 0, 7;
  }
  100% {
    opacity: 1;
  }
}
.img-fluid {
  -webkit-animation-name: mujer_balanza;
          animation-name: mujer_balanza;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.combinado {
  display: grid;
  grid-area: combinado;
  top: -4px;
  height: 400px;
  width: 1366px;
  overflow: hidden;
  position: relative;
}

h1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-image: -webkit-linear-gradient(right, rgb(133, 20, 20), rgb(233, 45, 45));
  text-align: center;
  color: rgb(250, 235, 193);
  font-family: "Manrope", sans-serif;
  text-shadow: 0 1px 0 rgb(8, 8, 8);
}

.encabezado {
  color: rgb(250, 235, 193);
  font-family: "Manrope", sans-serif;
}

.padre {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.lista {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-image: -webkit-linear-gradient(right, rgb(133, 20, 20), rgb(233, 45, 45));
  margin: 18px;
  padding: 10px 42px;
  font-family: "Manrope", sans-serif;
  font-weight: bold;
}

/* Inicio*/
.container-fluid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  transition: all 1s;
  transform: translate(0px, 0px);
  color: rgb(255, 235, 193);
  text-shadow: 1px 0 rgb(8, 8, 8);
}
.container-fluid:hover {
  transform: translate(3px, 2px);
  color: rgb(133, 20, 20);
  text-shadow: 0 1px 0 rgb(8, 8, 8);
}

.contenedor {
  display: flex;
  position: absolute;
  opacity: 1;
}

.texto-encima {
  display: flex;
  flex-direction: row;
  position: relative;
  color: antiquewhite;
  text-align: justify;
  justify-content: center;
  margin-right: 45PX;
  margin-left: 45PX;
  margin-top: 50px;
  font-family: "Manrope", sans-serif;
  color: rgb(250, 235, 193);
  text-shadow: 0 1px 0 rgb(8, 8, 8);
}

/* Grupo*/
.fieldsets {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.imagen-grup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  margin-top: 50px;
  -webkit-animation-name: mujer_balanza;
          animation-name: mujer_balanza;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.titulo-grupo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  color: rgb(250, 235, 193);
  font-family: "Manrope", sans-serif;
  text-shadow: 0 1px 0 rgb(8, 8, 8);
}

.titulo-grupo2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  color: rgb(250, 235, 193);
  font-family: "Manrope", sans-serif;
  text-shadow: 0 1px 0 rgb(8, 8, 8);
}

#descripcion-grupo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: antiquewhite;
  font-family: "Manrope", sans-serif;
  vertical-align: top;
  text-align: justify;
  margin: 50px;
}

/* Consulta*/
.fieldset-consulta {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  transform: translate(10px, 20px);
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
}

.btn, .btn--EnviarConsulta {
  margin-bottom: 40px;
  background-image: -webkit-linear-gradient(right, rgb(133, 20, 20), rgb(228, 27, 27));
  border-radius: 8px;
  color: rgb(250, 235, 193);
  font-family: "Manrope", sans-serif;
  text-shadow: 0 1px 0 rgb(8, 8, 8);
}

/*Especializacion*/
.imagen-Es {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  display: block;
  border-radius: 20px;
  float: left;
  padding-left: 10px;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  margin-right: 90px;
  -webkit-animation-name: mujer_balanza;
          animation-name: mujer_balanza;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.btn--EnviarConsulta {
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  transform: scale(120%);
}

.h4-especializacion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: antiquewhite;
  font-family: "Manrope", sans-serif;
  padding-left: 50px;
  padding-right: 100px;
  padding-bottom: 65px;
  vertical-align: top;
  text-align: justify;
}

/* Contacto */
.contacto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(133, 20, 20);
  text-align: center;
  color: rgb(250, 235, 193);
  font-family: "Manrope", sans-serif;
  text-shadow: 0 1px 0 rgb(8, 8, 8);
  font-size: 41px;
}

.formulario-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  text-align: justify;
  margin-right: 45PX;
  margin-left: 30PX;
  font-family: "Manrope", sans-serif;
  color: rgb(34, 33, 32);
}

.contacto-imagen {
  position: absolute;
  opacity: 1;
  height: 400px;
  width: 1366px;
  overflow: hidden;
  -webkit-animation-name: mujer_balanza;
          animation-name: mujer_balanza;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@media screen and (width: 576px) {
  .form {
    display: flex;
  }
}/*# sourceMappingURL=Main.css.map */