* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#fondo {
	background-image: linear-gradient(to right, black, rgb(73, 69, 69));
}
.shadow-lg {
	background-image: -webkit-linear-gradient(right, rgb(102, 16, 16), rgb(233, 45, 45));
	color: $color_3;
	font-family: $font-family_1;
}
.bg-light {
	background-image: -webkit-linear-gradient(right, rgb(102, 16, 16), rgb(233, 45, 45));
}
.nav-link {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	transition: all 1s;
	transform: translate(0px , 0px);
	color: $color_1;
	text-shadow: 1px 0 rgb(8, 8, 8);
	&:hover {
		transform: translate(3px , 2px);
		color: $color_2;
		text-shadow: 0 1px 0 rgb(8, 8, 8);
	}
}